In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data =pd.read_csv('../../data/dirty_data/unemployment_rate.csv',sep = ';', encoding='latin',decimal=',')

In [3]:
data

,ï»¿Unemployment rate,2002-01,Unnamed: 2,2002-02,Unnamed: 4,2002-03,Unnamed: 6,2002-04,Unnamed: 8,2002-05,...,2022-10,Unnamed: 500,2022-11,Unnamed: 502,2022-12,Unnamed: 504,2023-01,Unnamed: 506,2023-02,Unnamed: 508
0,European Union - 27 countries (from 2020),"9,5",NaN,"9,5",NaN,"9,5",NaN,"9,6",NaN,"9,6",...,"6,1",NaN,"6,1",NaN,"6,1",NaN,"6,1",NaN,"6,0",NaN
1,Euro area â 20 countries (from 2023),"8,6",NaN,"8,6",NaN,"8,6",NaN,"8,6",NaN,"8,7",...,"6,7",NaN,"6,7",NaN,"6,7",NaN,"6,6",NaN,"6,6",NaN
2,Euro area - 19 countries (2015-2022),"8,5",NaN,"8,5",NaN,"8,5",NaN,"8,6",NaN,"8,6",...,"6,7",NaN,"6,7",NaN,"6,7",NaN,"6,6",NaN,"6,6",NaN
3,Belgium,"7,4",NaN,"7,3",NaN,"7,3",NaN,"7,3",NaN,"7,3",...,"5,6",NaN,"5,7",NaN,"5,8",NaN,"5,8",NaN,"5,8",NaN
4,Bulgaria,"19,4",NaN,"19,3",NaN,"18,9",NaN,"18,7",NaN,"18,5",...,"4,0",NaN,"4,0",NaN,"4,0",NaN,"3,9",NaN,"3,8",NaN
5,Czechia,"7,5",NaN,"7,4",NaN,"7,5",NaN,"7,0",NaN,"7,2",...,"2,2",NaN,"2,7",NaN,"2,3",NaN,"2,5",NaN,"2,4",NaN
6,Denmark,"4,6",NaN,"4,4",NaN,"4,3",NaN,"4,3",NaN,"4,4",...,"4,5",NaN,"4,7",NaN,"4,8",NaN,"4,3",NaN,"5,2",NaN
7,Germany,"8,1",NaN,"8,2",NaN,"8,2",NaN,"8,3",NaN,"8,4",...,"3,1",NaN,"3,0",NaN,"3,0",NaN,"2,9",NaN,"2,9",NaN
8,Estonia,"11,6",NaN,"11,6",NaN,"11,2",NaN,"10,7",NaN,"10,5",...,"5,4",NaN,"5,4",NaN,"5,3",NaN,"5,2",NaN,"5,1",NaN
9,Ireland,"4,4",NaN,"4,5",NaN,"4,7",NaN,"4,6",NaN,"4,7",...,"4,5",NaN,"4,5",NaN,"4,4",NaN,"4,4",NaN,"4,3",NaN
10,Greece,"10,7",NaN,"10,7",NaN,"10,7",NaN,"10,3",NaN,"10,3",...,"11,7",NaN,"11,8",NaN,"11,8",NaN,"10,3",NaN,"11,4",NaN
11,Spain,"11,1",NaN,"11,5",NaN,"11,2",NaN,"11,2",NaN,"11,2",...,"12,9",NaN,"13,0",NaN,"13,0",NaN,"13,0",NaN,"12,8",NaN
12,France,"8,2",NaN,"8,2",NaN,"8,2",NaN,"8,2",NaN,"8,2",...,"7,2",NaN,"7,2",NaN,"7,2",NaN,"7,1",NaN,"7,0",NaN
13,Croatia,"15,8",NaN,"15,8",NaN,"15,8",NaN,"15,6",NaN,"15,5",...,"6,8",NaN,"6,7",NaN,"6,6",NaN,"6,5",NaN,"6,3",NaN
14,Italy,"8,6",NaN,"8,5",NaN,"8,5",NaN,"8,9",NaN,"8,8",...,"7,9",NaN,"7,9",NaN,"7,9",NaN,"8,0",NaN,"8,0",NaN
15,Cyprus,"3,3",NaN,"3,1",NaN,"3,0",NaN,"3,5",NaN,"3,6",...,"6,9",NaN,"7,3",NaN,"7,4",NaN,"7,4",NaN,"7,3",NaN
16,Latvia,"12,6",NaN,"12,4",NaN,"12,8",NaN,"13,6",NaN,"13,7",...,"6,9",NaN,"6,9",NaN,"6,8",NaN,"6,8",NaN,"6,7",NaN
17,Lithuania,"16,7",NaN,"16,0",NaN,"15,1",NaN,"14,1",NaN,"13,3",...,"6,1",NaN,"6,1",NaN,"6,1",NaN,"6,4",NaN,"6,5",NaN
18,Luxembourg,"2,2",NaN,"2,2",NaN,"2,2",NaN,"2,3",NaN,"2,4",...,"4,7",NaN,"4,7",NaN,"4,7",NaN,"4,8",NaN,"4,8",NaN
19,Hungary,"5,5",NaN,"5,5",NaN,"5,5",NaN,"5,5",NaN,"5,5",...,"3,7",NaN,"3,8",NaN,"3,8",NaN,"3,8",NaN,"3,9",NaN
20,Malta,"7,8",NaN,"7,7",NaN,"7,5",NaN,"7,2",NaN,"6,9",...,"2,9",NaN,"2,9",NaN,"2,9",NaN,"3,0",NaN,"3,0",NaN
21,Netherlands,"3,2",NaN,"3,3",NaN,"3,4",NaN,"3,4",NaN,"3,5",...,"3,7",NaN,"3,6",NaN,"3,5",NaN,"3,6",NaN,"3,5",NaN
22,Austria,"4,5",NaN,"4,5",NaN,"4,5",NaN,"4,3",NaN,"4,2",...,"4,6",NaN,"5,5",NaN,"4,9",NaN,"5,1",NaN,"5,0",NaN
23,Poland,"19,4",NaN,"19,4",NaN,"19,6",NaN,"19,9",NaN,"19,8",...,"3,0",NaN,"2,9",NaN,"2,9",NaN,"2,8",NaN,"2,8",NaN
24,Portugal,"5,5",NaN,"5,5",NaN,"5,7",NaN,"5,8",NaN,"6,2",...,"6,1",NaN,"6,5",NaN,"6,7",NaN,"7,0",NaN,"6,8",NaN
25,Romania,"8,4",NaN,"8,5",NaN,"8,7",NaN,"8,8",NaN,"8,7",...,"5,7",NaN,"5,7",NaN,"5,6",NaN,"5,6",NaN,"5,5",NaN
26,Slovenia,"6,7",NaN,"6,6",NaN,"6,4",NaN,"6,3",NaN,"6,3",...,"3,7",NaN,"3,6",NaN,"3,4",NaN,"3,3",NaN,"3,2",NaN
27,Slovakia,"19,1",NaN,"19,0",NaN,"18,9",NaN,"18,9",NaN,"19,0",...,"6,0",NaN,"6,1",NaN,"6,1",NaN,"6,1",NaN,"6,0",NaN
28,Finland,"9,4",NaN,"9,0",NaN,"8,9",NaN,"9,2",NaN,"9,5",...,"6,4",NaN,"6,7",NaN,"7,2",NaN,"7,1",NaN,"6,6",NaN
29,Sweden,"5,8",NaN,"5,8",NaN,"5,8",NaN,"6,0",NaN,"5,8",...,"7,7",NaN,"7,2",NaN,"7,5",NaN,"7,3",NaN,"7,6",NaN
30,Iceland,:,NaN,:,NaN,:,NaN,:,NaN,:,...,"3,9",NaN,"3,9",NaN,"3,9",NaN,"3,9",NaN,"3,9",NaN
31,Norway,"3,6",NaN,"3,8",NaN,"3,7",NaN,"3,8",NaN,"3,7",...,"3,2",NaN,"3,1",NaN,"3,4",NaN,"3,6",NaN,"3,9",NaN
32,Switzerland,:,NaN,:,NaN,:,NaN,:,NaN,:,...,"4,4",NaN,"4,4",NaN,"4,3",NaN,:,NaN,:,NaN
33,United Kingdom,"5,0",NaN,"5,1",NaN,"5,2",NaN,"5,2",NaN,"5,1",...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
34,United States,"5,7",NaN,"5,7",NaN,"5,7",NaN,"5,9",NaN,"5,8",...,"3,7",NaN,"3,6",NaN,"3,5",NaN,"3,4",NaN,"3,6",NaN
35,Japan,"5,2",NaN,"5,3",NaN,"5,3",NaN,"5,3",NaN,"5,4",...,"2,6",NaN,"2,5",NaN,"2,5",NaN,"2,4",NaN,"2,6",NaN

In [10]:
data=data.dropna(axis=1)

In [11]:
data = data.set_index("ï»¿Unemployment rate")

In [13]:
data = data.replace(',','.', regex=True)

In [19]:
data.replace(':', pd.np.nan, inplace=True)

/var/folders/6_/c1yy797x7w7g6g9sl3c4rqmw0000gn/T/ipykernel_3007/2430488528.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  data.replace(':', pd.np.nan, inplace=True)

In [20]:
data = data.astype(float)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36 entries, European Union - 27 countries (from 2020) to Japan
Columns: 254 entries, 2002-01 to 2023-02
dtypes: float64(254)
memory usage: 71.7+ KB

In [23]:
data.to_csv('unemployment_rate_clean.csv')